* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: sans-serif;
}

.maindiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10% 30%;
  padding: 0;
  justify-content: left;
  box-shadow: 5px 5px 5px 5px rgb(194, 182, 182);
}

.mainList {
  list-style-type: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: left;
}

.repeatList {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
}

.repeatList li {
  padding: 10px;
  background-color: white;
}

.repeatList .firstItem {
  padding-top: 30px;
  padding-left: 30px;
  border-bottom: 1px solid #f5f5f5;
}

.repeatList .formItem {
  padding: 0 8px;
}

.testList1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px 20px;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
}

.testList1 li {
  display: flex;
  flex-direction: row;
  position: relative;
}

.fa-ellipsis-v,
.testList .checkboX {
  color: rgb(194, 182, 182);
}

.testList1 .fa-ellipsis-v {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
}

.testList1.over {
  transform: scale(1.1, 1.1);
}

form {
  display: flex;
  flex-direction: row;
  padding: 0 12px;
  justify-content: space-between;
  background: white;
}

form input {
  background: white;
  height: 50px;
  padding: 5px 10px;
  border: none;
}

form input:focus {
  outline: none;
}

form button {
  background: transparent;
  border: none;
  background-color: white;
}

form button .fa-arrow-down {
  padding: 0 10px;
  background-color: white;
  color: rgb(136, 129, 129);
  font-size: 16px;
}

.clearBtn {
  text-align: center;
  padding: 15px;
  background-color: #f5f5f5;
  border: none;
  align-self: center;
  width: 100%;
}

p {
  background: white;
  padding-left: 14px;
}

.test {
  border: 1px solid gainsboro;
  padding: 0 10px;
  border-radius: 6px;
  color: #666;
}

.fa-trash-o {
  display: none;
  background: white;
  padding-top: 10px;
}
